<%provide(:title, "Help")%>
<h1>Help | Ruby on Rails Tutorial Sample App</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help/">Rails Tutorial help page</a>
  To ge help on this sample, see the
  <a href="http://railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>
</p>
